
@import url("report.css");

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, "Arial Unicode MS", sans-serif; /* facebook fontstack */    font-size: 100%;
    line-height: 1.4;
    background: #eee;
    color: #000;
}

@media screen {
    body {
        background: #2d4048;
        color: #222;
    }
}

a {
    color: #016;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------- */
/* things that aren't the report */

@media print {
    #notreport {
        display: none;
    }

}

#notreport h1 {
    text-align: center;
    padding: 1em;
    margin: 0 0 15px 0;
    font-size: 200%;
    text-shadow: 1px 1px 1px #999;


}

/* header - - - - - - - - - - - - */

#notreport .header {
    position: relative;
    background: #242732;
    padding: 0 8% 0;
    color: white;
    margin: 0;
}

#notreport .header img.logo {
    margin: 15px 0 0;
    float: right;
    opacity: 0.25;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

#notreport .header img.logo:hover {
    opacity: 1;
}

#notreport .header h1 {
    margin: 60px 0 2px;
    padding: 0;
    text-align: left;
    text-shadow: 2px 2px 2px #000;
    line-height: 1.1em;
}

#notreport .header h2 { /* a h2 in the header is a subheading */
    font-weight: normal;
    font-size: inherit;
    text-shadow: 1px 1px 2px #000;
    padding: 0;
    margin: 2px 0 30px;
}

/* form - - - - - - - - - - - - */

#kickoffform {
    text-align: center;
    background: #efe6c5;
    padding: 3em 4%; /* 8% text border = 4% margin, 4% padding */
    margin: 0 4% 0;  /* 8% text border = 4% margin, 4% padding */
}

#kickoffform .onefield {
    padding: 1em 0;
}

#kickoffform .formsection {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 1em;

    border: 6px solid rgba(0,0,0,0.15);
    border-width: 6px 0;
    border-radius: 12px;
}

#kickoffform .formsection h3 {
    font-size: inherit;
    font-weight: bold;
    opacity: 0.8;
    margin: 0;
    padding: 0 0 0.5em;
}

#kickoffform .regiontypeselection {
    position: relative;
    padding-bottom: 4em;
}

#kickoffform .regionselect {
    position: absolute;
    bottom: 1.5em;
    left: 1.25em;
    right: 0.5em;
    padding: 0.25em 0;

    visibility: hidden;

    clear: both; /* this is for IE6 :( */
    zoom: 1;     /* another dagger in my heart from IE */
}

#kickoffform input[type="radio"] {
    margin-right: 0.3em;
}

#kickoffform .regiontypeselector {
    display: block;
}

#kickoffform .yearselection label {
    display: block;
    text-align: center;
}

#kickoffform .formatselection label {
    display: block;
}

#kickoffform .generate {
    display: block;
    width: 80%;
    margin: 1em auto 0.75em;
    padding: 0.25em 0;
}

#kickoffform [disabled] {
    opacity: 0.5;
}

/* footer and credits ----------------------------------------- */

.footer a {
    color: #abf;
}

.footer {
    color: white;
    text-align: center;
    margin: 0;
    padding: 3em 1em;
}

.credits {
    background: white;
    padding: 1.5em 3em 2em;
    text-align: center;
    -webkit-box-shadow: inset 0 1em 1.5em -0.5em #000, inset 0 -0.8em 1.5em -0.5em #000;
    -moz-box-shadow:    inset 0 1em 1.5em -0.5em #000, inset 0 -0.8em 1.5em -0.5em #000;
    box-shadow:         inset 0 1em 1.5em -0.5em #000, inset 0 -0.8em 1.5em -0.5em #000;
}   

.credits a {
    margin: 1em 2em;
    display: inline-block; 
}   
    
.credits img { border: none; }

