
body {
    padding: 15px;
    background: #ccc;
    line-height: 1.5;
}

/* ----------------------------------------------------- */
/* things that aren't the report */

@media print {
    #notreport {
        display: none;
    }
}

#notreport h1 {
    text-align: center;
    background: #eee;
    padding: 1em;
    margin: 0 0 15px 0;
}

#kickoffform {
    background: #eee;
    padding: 2em 3em;
    margin: 0 0 15px 0;
}

#kickoffform .onefield {
    padding: 1em 0;
    border-top: 1px solid #ccc;
}

#kickoffform .regiontypeselection {
    position: relative;
    padding-bottom: 3em;
}

#kickoffform .regionselect {
    position: absolute;
    bottom: 1em;
    left: 0;
    display: none;
}

#kickoffform .gobutton {
    display: none;
}

#kickoffform .regiontypeselection input[type="radio"] {
    margin-right: 0.5em;
}

#kickoffform .regiontypeselector {
    display: block;
}

/* ----------------------------------------------------- */
/* the report itself */

#report {
    max-width: 210mm;
    xxpadding: 20mm;
    font-family: "Book Antiqua", Georgia, serif;
    font-size: 12pt;
    background: #fff;
    xxmargin: 0 auto;
}

@media screen {
    #report {
        padding: 20mm;
        margin: 0 auto;
    }
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 12mm;
    }

    #report {
        background: transparent;
        xxmargin: 0;
        xxpadding: 0;
    }

    #report .frontpagecredits {
        page-break-after: always;
    }
}

#report .frontpagecredits {
    font-style: italic;
    margin: 3em 25mm;
}

#report p, #report h2 {
    orphans: 2;
    widows: 2;
}

#report img {
    margin: 0 auto;
    width: 99%;
}

#report h1 {
    text-align: center;
}

#report h1 span {
    white-space: nowrap;
}

#report h2 {
    margin: 3em 0 1em 0;
    page-break-after: avoid;
    font-size: 14pt;
    font-family: "Segoe UI", Segoe, Tahoma, Geneva, Verdana, sans-serif;;
}

#report table {
    width: 99%;
    margin: 0 auto;
    border-top: 1mm solid #ccc;
    border-bottom: 1mm solid #ccc;
    border-collapse: separate;
    border-spacing: 4mm 0;
}

#report td, #report th {
    text-align: center;
    padding: 2mm;
    margin: 2mm;
}


#report .gained { color: #060; }
#report .lost   { color: #600; }

#report th {
    border-bottom: 0.5mm solid #ccc;
}

#report .totals td, #report .totals th {
    font-weight: bold;
    border-top: 0.5mm solid #ccc;
    border-bottom: none;
}
