
@import url("report.css");

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, "Arial Unicode MS", sans-serif; /* facebook fontstack */    font-size: 100%;
    line-height: 1.4;
    background: #eee;
    color: #000;
}

@media screen {
    body {
        background: #2d4048;
        color: #222;
    }
}

a {
    color: #016;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------- */
/* things that aren't the report */

@media print {
    #notreport {
        display: none;
    }
}

#notreport h1 {
    text-align: center;
    padding: 1em;
    margin: 0 0 15px 0;
    font-size: 200%;
    text-shadow: 1px 1px 1px #999;
}

/* header - - - - - - - - - - - - */

#notreport .header {
    position: relative;
    background: #242732;
    padding: 0 8% 0;
    color: white;
    margin: 0;
}

#notreport .header img.logo {
    margin: 15px 0 0;
    float: right;
    opacity: 0.25;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

#notreport .header img.logo:hover {
    opacity: 1;
}

#notreport .header h1 {
    margin: 60px 0 2px;
    padding: 0;
    text-align: left;
    text-shadow: 2px 2px 5px #000;
    line-height: 1.1em;
}

#notreport .header h2 { /* a h2 in the header is a subheading */
    font-weight: normal;
    font-size: inherit;
    text-shadow: 1px 1px 3px #000;
    padding: 0;
    margin: 2px 0 24px;
}

/* navbar ------------------------------------------------------ */

/*
    normal background: #242732 / 36,39,50
    darker: #1e212a / 30,33,42
    lighter: #2e3240 / 46,50,64
*/

#notreport .navbarwrapper {
    background: #242732;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3240', endColorstr='#1e212a');
    background: -webkit-linear-gradient(top, rgba(46,50,64, 1) 0%, rgba(30,33,42, 1) 100%);
    background: -moz-linear-gradient(top, rgba(46,50,64, 1) 0%, rgba(30,33,42, 1) 100%);
    background: -o-linear-gradient(top, rgba(46,50,64, 1) 0%, rgba(30,33,42, 1) 100%);
    background: -ms-linear-gradient(top, rgba(46,50,64, 1) 0%, rgba(30,33,42, 1) 100%);
    background: linear-gradient(top, rgba(46,50,64, 1) 0%, rgba(30,33,42, 1) 100%);
}

#notreport .nav {
    margin: 0 4% 0;  /* 8% text border = 4% margin, 4% padding */

    padding: 0 4%;
    border-left:  1px solid rgba(46,50,64, 0.75);
    border-right: 1px solid rgba(30,33,42, 0.75);
}

#notreport .nav li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    border: none;
}

#notreport .nav li a {
    display: block;
    float: left;
    height: 2em;
    padding: 0 2em;
    margin: 0;

    line-height: 2em;
    font-size: 90%;
    color: #efe6c5;
    text-shadow: 0 1px 0 rgba(46,50,64, 1), 0 -1px 0 rgba(30,33,42, 1);
    opacity: 0.5;
    filter: alpha(opacity=50);

    border: 1px solid rgba(46,50,64, 1);
    border-right: 1px solid rgba(30,33,42, 1);
    border-bottom: 1px solid rgba(30,33,42, 1);
    white-space: nowrap;
    overflow: hidden;

    -moz-transition: opacity 0.1s ease-in-out;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

#notreport .nav li a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}

#notreport .nav li a.current {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e212a', endColorstr='#2e3240');
    background: -webkit-linear-gradient(top, rgba(30,33,42, 1) 0%, rgba(46,50,64, 1) 100%);
    background: -moz-linear-gradient(top, rgba(30,33,42, 1) 0%, rgba(46,50,64, 1) 100%);
    background: -o-linear-gradient(top, rgba(30,33,42, 1) 0%, rgba(46,50,64, 1) 100%);
    background: -ms-linear-gradient(top, rgba(30,33,42, 1) 0%, rgba(46,50,64, 1) 100%);
    background: linear-gradient(top, rgba(30,33,42, 1) 0%, rgba(46,50,64, 1) 100%);
    border:  1px solid rgba(46,50,64, 1);
    border-left: 1px solid rgba(30,33,42, 1);
    border-top: 1px solid rgba(30,33,42, 1);
}

/* page content - - - - - - - - */

#notreport h2 {
    font-size: 150%;
    padding: 2em 0 0.33em;
    margin-bottom: 1em;
}

#notreport .toolintro {
    text-align: center;
    font-size: 85%;
    color: rgba(0,0,0, 0.75);
    padding: 2em 10% 0.5em;
    margin: -0.25em auto 2em;
    border-bottom: 1px solid rgba(216,201,167, 0.66);

    background: -moz-radial-gradient(bottom center, ellipse cover, rgba(216,201,167, 0.80) 10%, rgba(216,201,167, 0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, bottom center, 0px, center center, 70%, color-stop(0%,rgba(216,201,167, 0.80)), color-stop(70%,rgba(216,201,167, 0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(bottom center, ellipse cover, rgba(216,201,167, 0.80) 10%,rgba(216,201,167, 0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(bottom center, ellipse cover, rgba(216,201,167, 0.80) 10%,rgba(216,201,167, 0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(bottom center, ellipse cover, rgba(216,201,167, 0.80) 10%,rgba(216,201,167, 0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at bottom center, rgba(216,201,167, 0.80) 10%,rgba(216,201,167, 0) 70%); /* W3C */
}

#notreport .maincontent .toolintro {
    padding-top: 2.2em;
}

#notreport .maincontent {
    background: #efe6c5;
    margin: 0 4% 0;  /* 8% text border = 4% margin, 4% padding */
    padding: 1em 4% 5em;
    line-height: 1.4;
}

/*
    normal: efe6c5 / 239,230,197
    lighter: fff5d1 / 255,245,209 (or just #fff)
    darker: cfc6a9 / 207,198,169

    shaded thing: 216,201,167
*/

#notreport .maincontent h2 {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #cfc6a9;
    border-bottom: 2px groove rgba(255,255,255, 0.45);
}

#notreport td, #notreport th {
    padding: 0.5em;
}

#notreport .intro {
    margin: 2em 0;
}

#notreport p, #notreport ul {
    margin: 0.67em 0 0;
}

#notreport ul {
    margin-left: 2em;
}

#notreport li {
    margin: 0.33em 0;
}


/* form - - - - - - - - - - - - */

#kickoffform {
    text-align: center;
    background: #efe6c5;
    padding: 3em 4%; /* 8% text border = 4% margin, 4% padding */
    margin: 0 4% 0;  /* 8% text border = 4% margin, 4% padding */
    padding: 3em 0;
    margin: 0;

    padding-top: 0;
}

#kickoffform .onefield {
    padding: 1em 0;
}

#kickoffform .formsection {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 1em;

    border: 6px solid rgba(0,0,0,0.15);
    border-width: 6px 0;
    border-radius: 12px;
}

#kickoffform .formsection h3 {
    font-size: inherit;
    font-weight: bold;
    opacity: 0.8;
    margin: 0;
    padding: 0 0 0.5em;
}

#kickoffform .regiontypeselection {
    position: relative;
    padding-bottom: 5em;
}

#kickoffform .regionselect {
    position: absolute;
    bottom: 2.25em;
    left: 1.25em;
    right: 0.5em;
    padding: 0.25em 0;

    visibility: hidden;

    clear: both; /* this is for IE6 :( */
    zoom: 1;     /* another dagger in my heart from IE */
}

#kickoffform #regiondownloadlink {
    /* you're right, no need for two ids in the selector,
    they're there to show where the dl link is. */
    xfont-size: 90%;
    text-align: right;
    position: absolute;
    bottom: 0.75em;
    right: 0;

    visibility: hidden;

    clear: both; /* for IE6 */
    zoom: 1;     /* for IE6 */
}

#kickoffform input[type="radio"] {
    margin-right: 0.3em;
}

#kickoffform .regiontypeselector {
    display: block;
}

#kickoffform .yearselection label {
    display: block;
    text-align: center;
}

#kickoffform .formatselection label {
    display: block;
}

#kickoffform .generate {
    display: block;
    width: 80%;
    margin: 1em auto 0.75em;
    padding: 0.25em 0;
}

#kickoffform [disabled] {
    opacity: 0.5;
}

p.linkselsewhere {
    text-align: right;
    font-size: 90%;
    margin-top: 1em;
    padding-top: 2em;
    border-top: 2px groove rgba(255,255,255, 0.45);
}

/* credits ---------------------------------------------------- */

.maincontent .bottom.credits {
    margin: 2em -4.7619% -5em; /* bottom margin = (-1) * .maincontent bottom margin */
}

.credits {
    background: white;
    padding: 1.5em 3em 2em;
    text-align: center;
    -webkit-box-shadow: inset 0 1em 1.5em -0.5em rgba(0,0,0, 0.5), inset 0 -0.8em 1.5em -0.5em rgba(0,0,0, 0.5);
    -moz-box-shadow:    inset 0 1em 1.5em -0.5em rgba(0,0,0, 0.5), inset 0 -0.8em 1.5em -0.5em rgba(0,0,0, 0.5);
    box-shadow:         inset 0 1em 1.5em -0.5em rgba(0,0,0, 0.5), inset 0 -0.8em 1.5em -0.5em rgba(0,0,0, 0.5);
}

.credits a {
    margin: 1em 2em;
    display: inline-block;
    vertical-align: middle;
}

.credits img { border: none; }


/* footer ----------------------------------------------------- */

.footer-wrapper {
    text-align: center;
    font-size: 80%;
    margin: 0 4% 2em;  /* 8% text border = 4% margin, 4% padding */
    padding: 3px 4% 6px;
    background: #242732;
    color: rgba(255,255,255, 1);
}

.footer img {
    vertical-align: middle;
}
.footer a {
    color: rgba(170,187,255, 1);
}

.footer {
    opacity: 0.5;
    -moz-transition: opacity 0.33s ease-in-out;
    -webkit-transition: opacity 0.33s ease-in-out;
    transition: opacity 0.33s ease-in-out;
}

.footer:hover {
    opacity: 1;
}



