.navbarwrapper.clearfix
    %ul.nav.clearfix
        %li
            %a{ :href => "/tools/applications" }
                &laquo; CliMAS tools
            %a{ :href => url("/"), :class => (@page ? ('') : ('current')) }
                generate reports
        - @pagelist.each do |page|

            %li
                %a{ :href => url("#{page[:name]}"), :class => ((@page && @page.to_s == page[:name]) ? ('current') : ('')) }= page[:desc]